{% extends "ecoapp/base.html" %}
{% load static%}
{% block title%}Category {% endblock title%}

{% block maincontent%}
<img src="{% static 'ecoapp\banner\b4.jpg'%}" class="img-fluid w-100" alt="..." style="max-height: 350px;">

<div  style=" margin: 20px; max-width:900px"   >
 

    <h2>Vision</h2>
    <p>The dairy brand of choice in Kenya and beyond </p>
    <h2>Mission

    </h2>
    <p>
        To nourish and refresh consumers with innovative, quality and affordable dairy products through continual transformation of value chain processes and expansion of our markets.
    </p>

    <h2>Core Values</h2>
    <p>
        <ul>
            <li>
                Integrity – We look to upholding an upright image by having strong moral principles.
            </li>
            <li>Innovation – We endeavor to embrace up-to-date technology as well as creative thinking in order to stay ahead in the dairy industry.</li>
            <li>Efficiency – Zero-time loss and zero stock outs form part of the focus that we aim to achieve in regard to efficiency and productivity.</li>
            <li>Quality – We seek to produce high quality and competitive products.</li>
        </ul>
    </p>
</div>
{% endblock maincontent%}