{% extends "ecoapp/base.html" %}
{% load static%}
{% block title%} Home{% endblock title%}
{% block bannerslider%}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'ecoapp/image/menswear-street2.png' %}" class="d-block w-100 h-70" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'ecoapp/image/mens_clothing_1.png' %}" class="d-block w-100 h-70" alt="...">
      </div>
     
      <div class="carousel-item">
        <img src="{% static 'ecoapp/image/00-story.webp' %}" class="d-block w-100 h-70" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">
 

      </span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="welcome">
    <span class="welcome">Welcome to Ramon Stores!</span> Automatic discount will be applied on checkout. Same day delivery within Nairobi for orders placed before 3pm.
{% endblock bannerslider%}
{% block maincontent%}


<div class="suita">
    <div class="suitb">
      <a href="{% url 'CategoryView' 'GH' %}">
        <p>Suits</p>
        <img src="{% static 'ecoapp/image/SUIT3.jpg'%}" >
      </a>
       
    </div>
    <div class="suitb">
      <a href="{% url 'CategoryView' 'CR' %}">  <p>Shirts</p>
        <img src="{% static 'ecoapp/image/shirt1.jpg'%}" ></a>

    </div>
    <div class="suitb">
      <a href="{% url 'CategoryView' 'ML' %}">
        <p>Trouser</p>
      <img src="{% static 'ecoapp/image/trouser2.jpg'%}" >
      </a>
       
      
    </div>
    <a href="{% url 'CategoryView' 'MS' %}">
      <div class="suitb">
        <p>Shoes</p>
        <img src="{% static 'ecoapp/image/shoe1.jpg'%}" >
    </div>
    </a>
    <a href="{% url 'CategoryView' 'BT' %}">
      <div class="suitb">
        <p>Belts</p>
        <img src="{% static 'ecoapp\image\beltR1.jpg'%}" >
    </div>
    </a>
    <a href="{% url 'CategoryView' 'WT' %}">
      <div class="suitb">
        <p>Whatches</p>
        <img src="{% static 'ecoapp/image/watchR1.jpg'%}" >
    </div>
    </a>
  

</div>




{% endblock maincontent%}