{% extends "ecoapp/base.html" %}
{% load static%}
{% block title%}Contacts {% endblock title%}

{% block maincontent%}

<img src="{% static 'ecoapp/image/mens_clothing_1.png'%}" class="img-fluid w-100" alt="..." style="max-height: 350px;">

<div class="container mt-3"></div>
<h2 class="text-center">Contact Us</h2>
<div class="row container">
    <p class="fs-4 text-center">Adress :Takah Rd, Industrial Area
        P.O. Box 0000 – 00000 </p>
    <p class="fs-4 text-center">Contact :+2547000000000000 </p>
    <p class="fs-4 text-center">Email: @info.ramon.co.ke </p>

</div>

{% endblock maincontent%}